<nav>
  <div class="container">
    <div class="brand">
      a21mjon blog
    </div>

    <div class="theme-switcher">
      <input type="checkbox" onchange="switchTheme(this)">
    </div>
  </div>
</nav>