<!-- Page Sidebar -->
<div class="page-sidebar">
  <a class="logo-box" href="index.html">
    <span>a21mjon Blog</span>
    <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
    <i class="icon-close" id="sidebar-toggle-button-close"></i>
  </a>
  <div class="page-sidebar-inner">
    <div class="page-sidebar-menu">
      <ul class="accordion-menu">
        <li class="active-page">
          <a href="web/blog">
            <i class="menu-icon icon-home4"></i><span>Blog</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="menu-icon icon-inbox"></i><span>Tags (soon)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- /Page Sidebar -->